.Notifications {
    border: 5px solid red;
    border-style: dotted;
    padding: 1em;
    position: relative;
    width: 30%;
    margin-left: 40em;
}

.close {
    width: 20px;
    height: 20px;
}

li[data-notification-type='default'] {
    color: blue;
}

li[data-notification-type='urgent'] {
    color: red;
}